<div class="d-flex justify-content-between mb-4">
  <div>
    <h1><%= @shop.name %></h1>
    <div class="mt-5">
      <p><i class="bi bi-bookmark-heart-fill me-2" style="font-size: 1.75rem; color: #f08080;"></i><%= @shop.favorites.count %>件</p>
    </div>
  </div>
  <div class="align-self-end">
    <div>
      <div class="card card-body d-flex flex-row">
        <button type="button" class="btn btn-outline-primary mx-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="上に出るポップオーバー" style="width: 115px;">
          <i class="bi bi-link"></i><span class="ms-1">共有</span>
        </button>
        <% if user_signed_in? and current_user.already_liked?(@shop) %>
          <%= button_to shop_favorites_path(@shop), method: :delete, class: "btn btn-outline-danger mx-1" do %>
            <i class="bi bi-bookmark-heart-fill"></i><span class="ms-1">お気に入り解除</span>
          <% end %>
        <% else %>
          <%= button_to shop_favorites_path(@shop), method: :post, class: "btn btn-outline-danger mx-1" do %>
            <i class="bi bi-bookmark-heart"></i><span class="ms-1">お気に入り</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="btn-group btn-group-lg text-center" role="group" aria-label="お店メニューのページボタン" style="width: 100%; height: 75px;">
  <%= link_to "トップ", shop_path(@shop), class: "btn btn-outline-warning text-black fs-2 rounded-0", style: "text-decoration: none;" %>
  <%= link_to "メニュー", shop_menus_path(@shop), class: "btn btn-outline-warning text-black fs-2 rounded-0", style: "text-decoration: none;" %>
  <%= link_to "写真", shop_images_path(@shop), class: "btn btn-outline-warning text-black fs-2 rounded-0", style: "text-decoration: none;" %>
</div>

