<%= render "layouts/shop_header" %>

<div class="row p-1">
  <div class="col-9">
    <div class="mt-2">
      <h2 class="text-center mb-2"><%= @shop.name %>のメニュー</h2>
        <% if @menus.empty? %>
          <p>投稿されていません。</p>
        <% else %>
          <div>
            <% @menus.each do |menu| %>
              <div>
                <h5><%= menu.name %>(<%= menu.genre.name %>)</h5>
              </div>
              <div>
                <%= menu.description %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <hr>
    <div class="d-flex justify-content-center">
      <%= link_to "メニューを登録する", new_companies_shop_menu_path(@shop), class: "btn btn-success rounded-pill" %>
    </div>
  </div>
  
  <div class="col-3">
    <%= render "layouts/shop_side" %>
  </div>
</div>
